<div class="ui blue massive inverted menu">
	<div class="ui container">
		<a class="item"> Home </a>
		<a class="item"> Messages </a>
		<div class="ui simple dropdown item right blue inverted">
			Dropdown
			<i class="dropdown icon"></i>
			<div class=" menu">
				<%if loged_in? %>
					<%=link_to "Logout", logout_path ,method: :delete, class: "item"%>
				<% else %>
					<%=link_to "Login/SignUp" , login_path, class: "item"%>
				<% end %>
				<div class="item">
					Choice 2
				</div>
				<div class="item">	
					Choice 3
				</div>
			</div>
		</div>
	</div>
	<div class="item">
		<%%>
	</div>
</div>
